.btns{
    border-radius: 20px;
    background-color: #80ff72;
    border: none;
    color:black;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 10px;
    font-weight: bold;
}
